[user]
	name = {{ .me.name }}
	email = {{ .me.email }}
	signingkey = {{ onepasswordRead (printf "op://%s/GIT Signing/public key" .profile.op.vault) .profile.op.account }}
[init]
	defaultBranch = main
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autostash = true
