# Set up XDG
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
{{ if eq .chezmoi.os "darwin" -}}
export XDG_RUNTIME_DIR="$(getconf DARWIN_USER_TEMP_DIR)"
{{- else -}}
export XDG_RUNTIME_DIR="/run/user/$UID"
{{- end }}
export XDG_STATE_HOME="$HOME/.local/state"

# Set up vim
{{ if lookPath "nvim" -}}
export EDITOR={{ lookPath "nvim" | quote }}
{{- else if lookPath "vim" -}}
export EDITOR={{ lookPath "vim" | quote }}
{{- end }}

{{ if findExecutable "brew" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin") -}}
# Set up Homebrew
eval "$({{ findExecutable "brew" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin") }} shellenv)"
{{- end }}

{{ if lookPath "terragrunt" -}}
# Terragrunt ENV
export TG_PROVIDER_CACHE="1"
{{ if lookPath "tofu" -}}
export TG_TF_PATH="tofu"
{{- end }}
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir "/Library/Application Support/JetBrains/Toolbox/scripts") -}}
# Added by Toolbox App
export PATH="$PATH:{{ joinPath .chezmoi.homeDir "/Library/Application Support/JetBrains/Toolbox/scripts" }}"
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".orbstack/shell/init.zsh") -}}
# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}
