# Aliases
{{ if lookPath "bat" -}}
alias cat="bat --paging=never"
{{- end }}
{{ if lookPath "tofu" -}}
alias terraform="tofu"
alias tf="tofu"
{{- end }}
{{ if lookPath "nvim" -}}
alias vim="nvim"
{{- end }}

# Disable OMZ updates
zstyle ':omz:update' mode disabled

# Enable OMZ plugins
plugins=(
{{- range .omz.plugins }}
{{- if lookPath (default .name (index . "test")) }}
	{{ .name }}
{{- end }}
{{- end }}
)

# Set OMZ theme
ZSH_THEME={{ .omz.theme | quote }}

# Include OMZ
export ZSH="${HOME}/.oh-my-zsh"
source "${ZSH}/oh-my-zsh.sh"

{{ if lookPath "atuin" -}}
# Capture shell history with Atuin
eval "$(atuin init zsh)"
{{- end }}
