# Aliases
{{ if lookPath "bat" -}}
alias cat="bat --paging=never"
{{- end }}
{{ if lookPath "tofu" -}}
alias terraform="tofu"
alias tf="tofu"
{{- end }}
{{ if lookPath "nvim" -}}
alias vim="nvim"
{{- end }}

# Disable OMZ updates
zstyle ':omz:update' mode disabled

# Enable OMZ plugins
plugins=(
{{- if lookPath "asdf" }}
	asdf
{{- end }}
{{- if lookPath "git" }}
	git
{{- end }}
{{- if lookPath "terragrunt" }}
	terragrunt
{{- end }}
)

# Set OMZ theme
ZSH_THEME="gentoo"

# Include OMZ
export ZSH="${HOME}/.oh-my-zsh"
source "${ZSH}/oh-my-zsh.sh"

{{ if lookPath "atuin" -}}
# Capture shell history with Atuin
eval "$(atuin init zsh --disable-up-arrow)"
{{- end }}
