{
  "providers": {
    "openwebui": {
      "baseUrl": "{{ onepasswordRead (printf "op://%s/Open WebUI/website" .profile.op.vault) .profile.op.account }}/api",
      "api": "openai-completions",
      "apiKey": "{{ onepasswordRead (printf "op://%s/Open WebUI/api key" .profile.op.vault) .profile.op.account }}",
      "models": [
{{- range $i, $ := .pi.models }}
        {{- if $i }},{{ end }}
        {
          "id": {{ .id | quote }},
          "name": {{ .name | quote }},
          "reasoning": true,
          "input": [
            "text"
          ],
          "contextWindow": {{ .contextWindow }},
          "maxTokens": {{ default .contextWindow (index . "maxTokens") }},
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          }
        }
{{- end }}
      ]
    }
  }
}
