#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

if [[ "${TRACE-0}" == "1" ]]; then
	set -o xtrace
fi

is_command() {
	type "$1" >/dev/null 2>&1
}

{{ $profile := index .profiles .profile.key -}}
{{- $packages := (includeTemplate "packages.tmpl" .) | fromYaml -}}
{{- $active := $packages.packages -}}
main() {
{{- if eq $profile.package_manager "brew" }}
	if is_command brew; then
		brew bundle --file=/dev/stdin <<-EOF
{{- range $active }}
  {{- $via := default dict (index (default dict (index . "install")) "via") }}
  {{- if hasKey $via "brew" }}
			brew "{{ index $via "brew" }}"
  {{- end }}
  {{- if hasKey $via "cask" }}
			cask "{{ index $via "cask" }}"
  {{- end }}
{{- end }}
		EOF
	fi
{{- else if eq $profile.package_manager "paru" }}
	if is_command paru; then
		paru -S --needed --noconfirm \
{{- range $active }}
  {{- $via := default dict (index (default dict (index . "install")) "via") }}
  {{- if hasKey $via "paru" }}
			{{ index $via "paru" | quote }} \
  {{- end }}
{{- end }}
			paru
	fi
{{- end }}
}

main "$@"
