#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

if [[ "${TRACE-0}" == "1" ]]; then
	set -o xtrace
fi

is_command() {
	type "$1" >/dev/null 2>&1
}

main() {
	if is_command brew; then
		brew bundle --file=/dev/stdin <<-EOF
{{- range .packages.base }}
			{{ default "brew" (index . "type") }} {{ .name | quote }}
{{- end }}
{{- range (index .packages .profile.key) }}
			{{ default "brew" (index . "type") }} {{ .name | quote }}
{{- end }}
		EOF
	elif is_command paru; then
		paru -S --needed --noconfirm \
{{- range .packages.base }}
			{{ .name | quote }} \
{{- end }}
{{- range (index .packages .profile.key) }}
			{{ .name | quote }} \
{{- end }}
			paru
	fi
}

main "$@"
