{{- $profile := .profile -}}

[settings]
experimental = true

[tools]
{{- range (index .mise $profile.key).tools }}
{{ .name | quote }} = {{ $version := default "latest" (index . "version") -}}
{{- if eq (kindOf $version) "slice" -}}
[{{- range $i, $v := $version }}{{ if $i }}, {{ end }}{{ $v | quote }}{{ end }}]
{{- else -}}
{{ $version | quote }}
{{- end }}
{{- end }}

[env]
{{- range (index .mise $profile.key).env }}
{{- $secret := index . "secret" }}
{{- $value := index . "value" }}
{{- if $secret }}
{{ .name }} = {{ onepasswordRead (printf "op://%s/%s" $profile.op.vault $secret) $profile.op.account | quote }}
{{- else if $value }}
{{ .name }} = {{ $value | quote }}
{{- end }}
{{- end }}

[shell_alias]
{{- range (index .mise $profile.key).shell_aliases }}
{{ .name }} = {{ .command | quote }}
{{- end }}
